
$twitter: #53b2ba;
$twitter-title-gradient: linear-gradient(91deg, rgb(53, 160, 170) 0%, rgb(119, 200, 206) 100%);
$twitter-header-gradient: linear-gradient(91deg, rgb(112, 187, 195) 22%, rgb(160, 216, 220) 100%);
$white: #fff;
$image-border: #eaeded;
$card-text: darken(#bbc4c3, 20);
$card-icons: #dadfdf;
$card-border: #e4e7e7;
$card-border-focused: darken(#89d0d6, 20);
$full-heart: darken(#bbc4c3, 20);
$tab-inactive: #bbc4c3;
$grey: #bbc4c3;
